.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 83.9%;
    margin-left: auto;
    background-color: bisque;
    align-items: center;
    padding: 14.5px;
    .left-item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .toggle-icon{
            display: none;
        }
    }

    .search-bar{
        input{
            width: 250px;
            height: 40px;
            border: none;
            border-radius: 5px;
            text-indent: 15px;
            transition: width .3s ease-in-out;
            &:hover{
                width: 300px;
                transition: width .3s ease-in-out;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

@media  screen and (max-width:780px) {
    .nav-bar{
        width: 100%;
     .left-item{
        .toggle-icon {
            display: block;
        }
     }
     .search-bar{
        display: none;
     }   
    }
}